@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'ProtoMono';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/ProtoMono-Regular.ttf) format('truetype');
    }
    @font-face {
        font-family: 'ProtoMonoSemi';
        font-style: semibold;
        font-weight: 800;
        font-display: swap;
        src: url(./fonts/ProtoMono-SemiBold.ttf) format('truetype');
      }
  }