body {
	background: #000;
}
svg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}
/* src/LoadingScreen.css */
.loading-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 1); /* Fully opaque black background */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999; /* Make sure it's on top */
	opacity: 1;
	transition: opacity 3s ease-out, visibility 0s 3s; /* Ensure smooth transition and visibility delay */
  }
  
  .loading-wrapper.hidden .loading-screen {
	opacity: 0;
	visibility: hidden;
	transition: opacity 3s ease-out, visibility 0s 2s; /* Delays hiding visibility until fade-out completes */
  }